includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    checkMissingIterableValueType: false

    excludePaths:
        - %currentWorkingDirectory%/src/Bundle/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/src/Bundle/DependencyInjection/SyliusMailerExtension.php
        - %currentWorkingDirectory%/src/Bundle/spec/*
        - %currentWorkingDirectory%/src/Bundle/test/*
        - %currentWorkingDirectory%/src/Bundle/tests/*
        - %currentWorkingDirectory%/src/Component/spec/*
        - %currentWorkingDirectory%/src/Component/vendor/*

    ignoreErrors:
        - '/Property Sylius\\Component\\Mailer\\Model\\Email\:\:\$id is never written\, only read\./'
        - '/PHPDoc tag \@param references unknown parameter\: \$bccRecipients/'
        - '/PHPDoc tag \@param references unknown parameter\: \$ccRecipients/'
