<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.4/phpunit.xsd"
         colors="true"
>
    <php>
        <server name="KERNEL_CLASS" value="App\Kernel" />
    </php>

    <testsuites>
        <testsuite name="SyliusMailerBundle Test Suite">
            <directory>./src/Bundle/tests/</directory>
            <exclude>./src/Bundle/tests/Integration/Cli/</exclude>
        </testsuite>
        <testsuite name="SyliusMailerBundle Integration Test Suite">
            <directory>./src/Bundle/tests/Integration/Cli/</directory>
        </testsuite>
    </testsuites>
</phpunit>
